/* body { */
    /* width: 100%;
    height: 50vh; */
/* } */

.nodeActions {
    display: flex;
    gap: 2rem
}

.nodeActions button {
    width: 98px;
    font-size: 12px;
    display: block;
}

.react-flow__node.react-flow__node-default {
    visibility: visible !important;
    display: flex !important;
    width: min-content;